.cmtform {
  background: #f7f5ef;
  border: 1px solid #ddd
}

.uname {
  margin: 0 0 9px;
  padding: 0.2em;
  border-bottom: 1px solid #ddd;
  font-family: 'lato';
  font-size: 20px;
  color: #e6745f;
}

.time {
  margin: 0 0 10px;
  margin-bottom: auto;
  text-align: right;
  padding-right: 1em;
  font-family: fantasy;
  font-size: 13px;
  font-weight: 100;
  border-bottom: 1px soild #ddd;
}

.status {
  color: #5fb7b9;
  font-family: 'lato';
  font-size: 18px;
}

.my-questions a {
  font-family: monospace;
  color: #5fb7b9;
  font-size: 18px;
}

.cmt {
  padding: 0.2em;
  font-family: 'lato';
  letter-spacing: 1px;
}

.cmtshow {
  margin-top: 2em;
}

.img {
  padding: 1em;
}

.cmtshow .commentby {
  margin: 0 0 9px;
  padding: 1em;
  font-family: 'lato';
  font-size: 20px;
  color: #e6745f;
  border-bottom: 1px solid #ddd;
}